/*---------- GLOBAL---------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #f2edd7;
	text-align: center;
}


a {
	color: #28527a;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #f2edd7;
}

a:hover {
	color: #8ac4d0;
}

#welcome-header, #welcome-header h1{
	background-color: #28527a;
	color: whitesmoke;
	margin: 0 0 1.5rem;
	padding: 2.5rem;
}

header #navBar {
	background-color: #28527a;
	padding: 1.5rem;
}

header #navBar a {
	background-color: #28527a;
	color: whitesmoke;
	margin-left: 1.5rem;
}

header #navBar a:hover {
	color: #8ac4d0;
}



.container #content {
	height: 100%;

}

#content select {
	padding: 0.5rem;
	background-color: whitesmoke;
	border-radius: 0.5rem;
}

h1, h2 {
	margin: 2rem 5rem 2rem;
	color: #28527a;
}

#currentPage {
	font-style: italic;
}

#obj-crud {
	display:flex; 
	flex-direction: row; 
	justify-content: center; 
	align-items: center";
}

obj-crud button {
	margin-left: 1rem;
}


button {
	background-color: #8ac4d0;
	color: whitesmoke;
	padding: 0.5rem;
	border-radius: 0.5rem;
	margin: -0.5rem 0.5rem 0.5rem;
	cursor: pointer;
	text-transform: uppercase;
}



input {
	padding: 0.5rem;
	background-color: whitesmoke;
	margin: 1rem auto;
	border-radius: 0.5rem;
}

input [type=select] {
	padding: 0.5rem;
	background-color: whitesmoke;
	margin: 1rem auto;
	border-radius: 0.5rem;
}

input[type=submit] {
	background-color: #28527a;
	color: whitesmoke;
	padding: 0.5rem;
	border-radius: 0.5rem;
	margin-top: -0.5rem;
	cursor: pointer;
}

#tableContainer {
	width: 100%;
	height: 100%;
}

#data-table {
	width: 75%;
	margin: 0 auto;
	border-spacing: 0 0.5rem;
}

table thead th {
	background: #ec524baa;
	font-weight: normal;
	text-align: center;
	color: whitesmoke;
	text-transform: uppercase;
	font-weight: bold;
	padding: 1rem 2rem;
}

table tbody tr {
	opacity: 0.7;
}

table tbody tr:hover {
	opacity: 1;
}

table tbody td {
	background: rgba(255, 255, 255, 0.800);
	color: #28527a;
	padding: 0.6rem 1rem;
	font-weight: normal;
}

footer p{
	color: #28527a;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	text-align: right;
}